<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://downloader.disk.yandex.ru/disk/bb422fd057e3ce4e6887c759d70ec5e715025d9cfa118d6a575344d13ee24f4d/696a87b3/USoZgYoXEUi1DYsrlN4WbJvXRGqyRQTrlevbMuobSBG6P3KnWg1XdZOanm1j0t6yUGoiIUtFR9gVv0u2ddCmBw==?uid=0&amp;filename=%D0%90%D0%B2%D1%82%D0%BE%D1%82%D0%B5%D0%BA%D0%B0.ipa&amp;disposition=attachment&amp;hash=6EWRcI34cmutVhqNuxxFpnGK2FePbhF5zh4xllKCGKKFehg%2Bnkvtrk02yO3p0D%2BKq%2FJ6bpmRyOJonT3VoXnDag==&amp;limit=0&amp;content_type=application%2Fzip&amp;owner_uid=773676919&amp;fsize=190909558&amp;hid=354b0b2b7fda8f1d183e794982965cfd&amp;media_type=compressed&amp;tknv=v3</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>ru.abd.autoteka.application</string>
                    <key>bundle-version</key>
                    <string>2.5.3</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>Автотека</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>

